@model IEnumerable<CRUD_App.Models.Adress>

@{
    ViewData["Title"] = "Adresses";
}

<h1>Adresses</h1>

<p>
    <a class="btn btn-primary"asp-action="Create">Create New Adress</a>
</p>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Customer.FullName</h5>
                    <p class="card-text">@Html.DisplayNameFor(model => model.StreetAdress): @item.StreetAdress</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.City): @item.City</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Country): @item.Country.Name</p>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AdressID">Edit</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.AdressID">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
